.selected-page{
    border-color: #2BD6B7;
}

.modules-grid{
    margin-top: 20px;
}

.module-box{
    cursor: pointer;
}

.module-form-wrapper{
    height: 100%;
    overflow: auto;
    padding: 30px;
}

form{
    margin: 0;
}

.module-form-inner-wraper{
    min-height: calc(100% - 60px);
}

.variables{
    line-height: 1.25rem;
}

.add-function{
    margin-top: 20px;
}

/*remove later on*/

.bg-indigo-600{
    background-color: #2BD6B7;
}

.bg-indigo-600:hover{
        background-color: #2cc5a9;
}