.selected-page{
    border-color: #2BD6B7;
}

#user-profile-dropdown{
    visibility: hidden;
}

#user-profile:hover #user-profile-dropdown{
    visibility: visible;
}


.grid-container{
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-areas:
    'screen1 screen2'
    'editor editor';
    gap: 20px; 
    grid-template-columns: 50% 50%;
    height: calc(100% - 150px);
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
}

.screen1{
    grid-area: screen1;
    height: 40vh;
    width: 100%;
}

.screen2{
    grid-area: screen2;
    height: 40vh;
    width: 100%;
}

.editor{
    grid-area: editor;
    display: flex;
    padding: 0;
    overflow: hidden;
    min-height: 30vh;
    overflow-y: auto;
}

.editor-left{
    width: 200px;
    height: 100%;
    border-right: 1px solid rgb(229, 231, 235);
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

}

.editor-controls{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: space-between;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;

}

.control-button{
    margin: 0px 5px;
}

.editor-modules{
    padding-top: 1px;
}

.module{
    border-bottom: 1px solid rgb(229, 231, 235);
    padding: 5px 0px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.add-module-button{
    border-bottom: 1px solid rgb(229, 231, 235);
    padding: 5px 0px;
    width: 100%;
}

.editor-right{
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

.timeline-times{
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    height: 38px;
    min-width: 100%;
    position: relative;
}

.editor-button{
    position: absolute;
    right: 5px;
    top: 5px;
}

.material-symbols-outlined {
    font-size: 18px;
}


.timeline-rows{
    padding-top: 1px;
    min-width: 100%;
}

.timeline-row{
    position: relative;
    min-width: 100%;
    border-bottom: 1px solid rgb(229, 231, 235);
    height: 50px;
    cursor: pointer;
    height: 80px;
}

.timeline-action{
    position: absolute;
    height: 100%;
    border-radius: 8px;
    background-color: #2cc5a9;
    border: 1px solid #29b399;
    padding: 5px 15px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
}

.timeline-action-method{
    display: flex;
    align-items: center;
    color: white;
}

.timeline-action-times{
    text-align: left;
    font-size: 14;
    color: white;
}

.timeline-action-delete{
    background-color: transparent;
    border: None;
    outline: None;
    z-index: 10;
    top: 5px;
    right: 5px;
    position: absolute;
    color: white;
}

.timeline-action-title{
    margin-right: 10px;
    font-size: 14;
    color: white;
}

.timeline-action-badge{
    background-color: #37b59e;
    outline: 1px solid #34a590;
    margin-right: 5px;
    border-radius: 20px;
    padding: 2px 5px;
    font-size: 11;
    white-space: nowrap;
    color: white;
}

#code-editor-overlay{
    z-index: 100;
}

.code-editor-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.code-editor-top{
    padding: 10px 20px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code-editor-title{
    display: inline-block;
}

.code-editor-close{
    border: None;
    outline: None;
    background-color: transparent;
}

#code-editor{
    width: 100%;
    height: calc(100% - 50px);
    position: relative;
}

.codeflask{
    width: 100%;
}

.code-editor-save{
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

/*remove later on*/

.bg-indigo-600{
    background-color: #2BD6B7;
}

.bg-indigo-600:hover{
        background-color: #2cc5a9;
}