<div id="multiple-functions" class="mt-6">
  
{% for i in range(context.amount|int) %}

<div id="function-{{i+2}}">

  <div class="border-t border-gray-900/10 pb-6 mt-4">

    <div id="function-write-{{i+2}}" class="sm:col-span-6">
      <label for="" class="block text-m font-medium mt-4 leading-6 text-gray-900">Function {{i+1}}</label>
      <div class="mt-4 sm:col-span-3">
        <label for="duration-{{i+2}}" class="block text-sm font-medium leading-6 text-gray-900">Duration</label>
        <div class="mt-2">
          <input type="text" name="duration-{{i+2}}" id="duration-{{i+2}}" placeholder="00:00" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 variables">
        </div>
      </div>
      <div class="mt-6">
        <select id="function-write-select-{{i+2}}" onchange="addFunctionVariables('write', '{{i+2}}')" name="function-write-select-{{i+2}}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-sm focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          <option hidden disabled selected value> -- select a function -- </option>
          {% for function in context.module.functions if function.method == 'Write' %}
          <option>{{function.name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

  </div>

</div>


{% endfor %}

</div>