{%block title%}
<link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
{%endblock%}

{% extends "base.html" %}
{% block content %}
<div class="mx-auto max-w-7xl sm:px-6 lg:px-8 grid-container target">
  
  <div class="top-row">
    <h1>{{context.application.name}}</h1>
    <button onclick="editName('{{context.application.id}}')"><span class="material-symbols-outlined" style="color: grey;">edit</span></button>
  </div>
    
  <div class="editor box">
    <div class="editor-left bg-gray-50">
        <div class="editor-controls">
            <button type="button" onclick="runTimeline()" class="control-button rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Run</button>
            <button type="button" onclick="cancelTimeline()" class="control-button rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Cancel</button>
        </div>
        <div class="editor-modules">
            <ul id="module-list">

            </ul>
            <button class="add-module-button hover:bg-gray-100" onclick="displayModuleSelector()">
                +
            </button>
        </div>
    </div>
    <div class="editor-right">
        <div class="timeline-times">
          <button type="button" onclick="openCodeEditor()" class="editor-button rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
            <i class="material-icons" style="font-size:20px;">code</i>
          </button>
        </div>
        <ul class="timeline-rows" id="timeline-rows">
        </ul>
    </div>
  </div>

  <div class="screen-row">
    <div class="screen box" id="screen1">
      <div id="chart1"></div>
    </div>
    <div class="screen box" id="screen2">
      <div id="chart2"></div>
    </div>
    <div class="screen box" id="screen3">
      <div id="chart3"></div>
    </div>

  </div>


  <!--Add Module Overlay-->
  <div class="relative z-10" id="module-selector" style="display: none;" role="dialog" aria-modal="true" onclick="hideModuleSelector()">
    <!--
      Background backdrop, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20">
      <!--
        Command palette, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 scale-95"
          To: "opacity-100 scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 scale-100"
          To: "opacity-0 scale-95"
      -->
      <div class="mx-auto max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">

        <div class="relative">
            <p class="h-12 w-full border-0 bg-transparent px-4 py-4 text-gray-400 sm:text-sm">Select a module</p>
        </div>

        <!-- Results, show/hide based on command palette state -->
        <ul class="max-h-72 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800" id="options" role="listbox">
          <!-- Active: "bg-indigo-600 text-white" -->
          {% for module in context.modules %}
          <li class="cursor-default select-none px-4 py-2 hover:bg-blue-600 hover:text-white" id="option-1" role="option" tabindex="-1" onclick="addModule('{{module.name}}')">{{module.name}}</li>
          {% endfor %}
        </ul>


      </div>
    </div>
  </div>

  <div class="playground drag-handler" id="playground" class="">
    <div class="playground-top-row" onclick="togglePlayground()">
      <p id="playground-title">Playground</p>
      <span class="material-symbols-outlined" style="color: grey;">expand_more</span>
    </div>
    {% include "playground.html" %}
  </div>

</div>


<script>
    let timelineJson = []

    const moduleList = document.getElementById('module-list')
    const timelineRows = document.getElementById('timeline-rows')
    const moduleSelector = document.getElementById('module-selector')
    let flask;

    getTimelineData()

    function displayModuleSelector(){
        moduleSelector.style.display = 'block'
    }

    function hideModuleSelector(){
        moduleSelector.style.display = 'none'
    }

    function openCodeEditor(){
        console.log('show code editor overlay')
        fetch('/code_editor_overlay')
        .then(response => response.text())
        .then(data => {
          // Append the overlay content to the body and create editor instance
          document.body.insertAdjacentHTML('beforeend', data);
          flask = new CodeFlask('#code-editor', { 
            language: 'js',
            lineNumbers: true,
          });
          flask.updateCode(JSON.stringify(timelineJson, null, 2));

        })
        .catch(error => console.error('Error fetching overlay content:', error));
    }

    function closeCodeEditor(){
      document.getElementById("code-editor-overlay").remove()
    }

    function saveCodeEditor(){
      timelineJson = JSON.parse(flask.getCode());
      closeCodeEditor();
      clearTimeline();
      buildTimeline();
      timelineDataToLocalstorage();
    }

    function clearTimeline(){
      moduleList.innerHTML = '';
      timelineRows.innerHTML = '';
    }

    function buildTimeline(){
      for(module of timelineJson){
        const moduleElement = document.getElementById(`module-${module.name}`)
        if (moduleElement === null) addModuleElement(module.name);
        changeModuleConnectionState(module.name, module.connected)
        for(action of module.actions){
          const actionElement = document.getElementById(`timeline-action-${action.id}`)
          if (actionElement === null) addActionElement(module.name, action);
        }
      }

      showScreens();
    }

    function showScreens(){

      const screenValues = new Set();

      function processActions(actions) {
        actions.forEach(action => {
          if (action.methods && action.methods.read && action.methods.read.screen) {
            screenValues.add(action.methods.read.screen);
          }
        });
      }

      timelineJson.forEach(entry => {
        if (entry.actions) {
          processActions(entry.actions);
        }
      });

      console.log(screenValues);
      for (let i=1; i<=3; i++) {
        let screenElement = document.getElementById(`screen${i}`);
        if (screenValues.has(String(i))){
          screenElement.style.display = 'block';
        }
        else{
          screenElement.style.display = 'none';
        }

      }

    }

    function addModule(module){
        let moduleJson = {
          'name': module,
          'connected': false,
          'actions': []
        }
        timelineJson.push(moduleJson)

        timelineDataToLocalstorage()

        addModuleElement(module)
    }

    function addModuleElement(module){
        // Create the li element
        let liElement = document.createElement("li");
        liElement.classList.add('module')
        liElement.id = `module-${module}`

        // Create the paragraph element and set its content
        let pElement = document.createElement("p");
        pElement.textContent = module;
        pElement.classList.add('module-title', 'text-sm')

        // Create the "Connect" button element
        let buttonElement = document.createElement("button");
        buttonElement.textContent = "Connect";
        buttonElement.classList.add('connect-button', 'text-xs', 'text-gray-600')
        buttonElement.id = `connect-button-${module}`
        buttonElement.addEventListener('click', function() {
          connect(`${module}`);
        });

        // Append the paragraph and button elements to the li element
        liElement.appendChild(pElement);
        liElement.appendChild(buttonElement);
        moduleList.appendChild(liElement);

        let rowElement = document.createElement("li");
        rowElement.id = `timeline-row-${module}`
        rowElement.classList.add('timeline-row')
        rowElement.addEventListener('click', function() {
          showAddActionOverlay(`${module}`);
        });

        timelineRows.appendChild(rowElement)
    }

    function convertTimeToSeconds(timeString) {
      const [minutes, seconds] = timeString.split(":").map(Number);
      return minutes * 60 + seconds;
    }

    function addActionElement(module, action){
      console.log(action)
      const startSeconds = convertTimeToSeconds(action['startTime']);
      const endSeconds = convertTimeToSeconds(action['endTime']);
      const widthSeconds = endSeconds - startSeconds;

      const actionElement = document.createElement("div");
      actionElement.classList.add('timeline-action');
      actionElement.id = `timeline-action-${action.id}`

      actionElement.style.left = `${startSeconds * 10}px`;
      actionElement.style.width = `${widthSeconds * 10}px`;

      const timeElement = document.createElement("p");
      timeElement.classList.add('timeline-action-times');
      timeElement.textContent = `${action['startTime']} - ${action['endTime']}`

      const deleteButton = document.createElement("button");
      deleteButton.classList.add('timeline-action-delete')
      deleteButton.onclick = () => {deleteAction(module, action.id)}
      const deleteIcon = document.createElement("i")
      deleteIcon.classList.add('material-icons')
      deleteIcon.style.fontSize = "14px"
      deleteIcon.textContent = 'close'
      deleteButton.appendChild(deleteIcon)

      actionElement.appendChild(timeElement)
      actionElement.appendChild(deleteButton)


      if(action['methods']['write']){
        const method = document.createElement("div");
        method.classList.add('timeline-action-method');
        const title = document.createElement("p");
        title.classList.add('timeline-action-title');
        title.textContent = action['methods']['write']['function'];
        method.appendChild(title);
        
        const parameterStr = action['methods']['write']['startData'];
        const parameterPairs = parameterStr.split(/\s+/);

        for (let i = 0; i < parameterPairs.length; i += 2) {
          const parameterName = parameterPairs[i];
          const parameterValue = parameterPairs[i + 1];

          const badge = document.createElement("span");
          badge.classList.add("timeline-action-badge");
          badge.textContent = `${parameterName} ${parameterValue}`;
          method.appendChild(badge);
        }
        actionElement.appendChild(method);
      }

      if(action['methods']['read']){
        const method = document.createElement("div");
        method.classList.add('timeline-action-method');
        const title = document.createElement("p");
        title.classList.add('timeline-action-title', 'text-sm');
        title.textContent = action['methods']['read']['function'];
        method.appendChild(title);
        
        const parameterStr = action['methods']['read']['format'];
        const parameters = parameterStr.split(/\s+/);

        for (let i = 0; i < parameters.length; i += 1) {
          const parameterName = parameters[i];

          const badge = document.createElement("span");
          badge.classList.add("timeline-action-badge");

          badge.textContent = `${parameterName}`;
          method.appendChild(badge);
        }
        actionElement.appendChild(method);
      }
      const moduleRow = document.getElementById(`timeline-row-${module}`);
      moduleRow.appendChild(actionElement)
      
    }

    function showAddActionOverlay(module){
        try{
        document.getElementById('action-overlay').remove()
        }
        catch{
        }

        console.log('show add action overlay')
        fetch(`/show_add_action_overlay?module=${module}`)
        .then(response => response.text())
        .then(data => {
        // Append the overlay content to the body
        document.body.insertAdjacentHTML('beforeend', data);
        })
        .catch(error => console.error('Error fetching overlay content:', error));
    }

    function closeAddActionOverlay(){
      document.getElementById('action-overlay').remove()
    }

    function addFunctionVariables(method){
      let select = document.getElementById(`function-${method}-select`)
      let functionName = select.options[select.selectedIndex].text
      try{
        document.getElementById(`function-${method}`).variables.remove()
      }
      catch{}
      console.log('add function variables')
        fetch(`/add_function_variables?function=${functionName}`)
        .then(response => response.text())
        .then(data => {
        // Append the overlay content to the body
        document.getElementById(`function-${method}`).insertAdjacentHTML('beforeend', data);
        })
        .catch(error => console.error('Error fetching overlay content:', error));
    }

    function isValildTimeFormat(timeString) {
      // Regular expression to match the MM:SS format
      const timeRegex = /^\d{1,2}:\d{2}$/;

      if (!timeRegex.test(timeString)) {
        return false;
      }

      // Splitting the timeString into minutes and seconds
      const [minutes, seconds] = timeString.split(':');

      // Converting minutes and seconds to integers
      const parsedMinutes = parseInt(minutes, 10);
      const parsedSeconds = parseInt(seconds, 10);

      // Checking if minutes and seconds are within valid ranges
      if (parsedMinutes < 0 || parsedMinutes > 59 || parsedSeconds < 0 || parsedSeconds > 59) {
        return false;
      }

      return true;
    }


    function addAction(module){
      const startTime = document.getElementById('start-time').value
      const endTime = document.getElementById('end-time').value

      if (!isValildTimeFormat(startTime)){
        document.getElementById('start-time').style.outline = "1px solid red";
        return;
      }
      else{
        document.getElementById('start-time').style.outline = "none";
      }

      if (!isValildTimeFormat(endTime)){
        document.getElementById('end-time').style.outline = "1px solid red";
        return;
      }
      else{
        document.getElementById('end-time').style.outline = "none";
      }

      const id = Date.now().toString(36) + Math.floor(Math.pow(10, 12) + Math.random() * 9*Math.pow(10, 12)).toString(36)

      let actionJson = {
        'id': id,
        'startTime': startTime,
        'endTime': endTime,
        'StartTimeoutId': null,
        'StopTimeoutId': null,
        'methods': {}
      }

      let writeSelect = document.getElementById(`function-write-select`)
      let writeFunctionName = writeSelect.options[writeSelect.selectedIndex].text

      let readSelect = document.getElementById(`function-read-select`)
      let readFunctionName = readSelect.options[readSelect.selectedIndex].text
      console.log(readFunctionName)

      if(writeFunctionName == "-- select an option --" && readFunctionName == "-- select an option --"){
        writeSelect.style.outline = "1px solid red";
        readSelect.style.outline = "1px solid red";
        return;
      }
      else{
        writeSelect.style.outline = "none";
        readSelect.style.outline = "none";
      }
      console.log("decoding action variables")

      let writeVariableStr = ""

      let i = 1
      let index_exists = true
      while(index_exists){
        try{
          let variable_name = document.getElementById(`variable-write-name-${i}`).textContent
          let variable_value = document.getElementById(`variable-write-value-${i}`).value
          if(!variable_value){
            document.getElementById(`variable-write-value-${i}`).style.outline = "1px solid red";
            return;
          }
          else{
            document.getElementById(`variable-write-value-${i}`).style.outline = "none";
          }
          if(writeVariableStr != ""){
            writeVariableStr += " "
          }
          writeVariableStr += `${variable_name} ${variable_value}`
        }
        catch{
          index_exists = false
        }
        i += 1
      }

      if(writeVariableStr != ""){
        let writeJson = {
          'function': writeFunctionName,
          'startData': writeVariableStr,
          'stopData': writeVariableStr.replace(/\d+/g, '0'),
        }
        actionJson['methods']['write'] = writeJson
      }


      let readVariableStr = ""
      let selectedScreen

      i = 1
      index_exists = true
      try{
          let screenSelect = document.getElementById(`function-read-select-screen`)
          selectedScreen = screenSelect.options[screenSelect.selectedIndex].value
          if(selectedScreen == "-- select a screen --"){
            screenSelect.style.outline = "1px solid red";
            return;
          }
          else{
            screenSelect.style.outline = "none";
          }
      }
      catch{
        index_exists = false
      }

      while(index_exists){
        try{
          let variable_name = document.getElementById(`variable-read-name-${i}`).textContent
          if(readVariableStr != ""){
            readVariableStr += " "
          }
          readVariableStr += `${variable_name}`
        }
        catch{
          index_exists = false
        }
        i += 1
      }


      if(readVariableStr != ""){
        let readJson = {
          'function': readFunctionName,
          'format': readVariableStr,
          'screen': selectedScreen,
        }
        actionJson['methods']['read'] = readJson
      }

      let moduleObj = timelineJson.find(moduleObj => moduleObj.name === module)


      moduleObj['actions'].push(actionJson)
      console.log(timelineJson)
      addActionElement(module, actionJson)
      closeAddActionOverlay()
      showScreens()
      timelineDataToLocalstorage()
    }

    function deleteAction(module, actionId){
      let moduleObjIndex = timelineJson.findIndex(moduleObj => moduleObj.name === module)
      console.log(timelineJson[moduleObjIndex])

      if(timelineJson[moduleObjIndex]['actions']){
        let actionObjIndex = timelineJson[moduleObjIndex]['actions'].findIndex(actionObj => actionObj.id === actionId);

        if (actionObjIndex !== -1) {
          timelineJson[moduleObjIndex]['actions'].splice(actionObjIndex, 1);
        }

        document.getElementById(`timeline-action-${actionId}`).remove()
      }
      else{
        console.log(`couldn't remove action with ID ${actionId}`)
      }
      console.log(timelineJson)
      timelineDataToLocalstorage()

    }
    
    function changeModuleConnectionState(module, state){
      let connectButton = document.getElementById(`connect-button-${module}`)
      let moduleObj = timelineJson.find(moduleObj => moduleObj.name === module)

      if(state == "connected"){
        moduleObj.connected = true
        connectButton.classList.add('connected')
        connectButton.textContent = "Connected"
      }
      else if(state == "disconnected"){
        moduleObj.connected = false
        connectButton.classList.add('disconnected')
        connectButton.textContent = "Connect"
      }
      console.log(timelineJson)

    }


        // --------
    // Timeline
    const timelineJson1 = [
      {
        'name': 'spectroscope',
        'connected': false,
        'actions': [
          {
            'startTime': '00:00',
            'endTime': '00:50',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'read': {
                'format': 'fluorescence <fluorescence_value>',
                'screen': '1',
              }
            }
          }

        ]
      },
      {
        'name': 'motor',
        'connected': false,
        'actions': [
          {
            'startTime': '00:00',
            'endTime': '00:30',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'write': {
                'startData': 'rpm 1000',
                'stopData': 'rpm 0',
              }
            }
          },
          {
            'startTime': '00:30',
            'endTime': '00:45',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'write': {
                'startData': 'rpm 2000',
                'stopData': 'rpm 0',
              }
            }
          },
        ]
      },
      {
        'name': 'eload',
        'connected': false,
        'actions': [
          {
            'startTime': '00:00',
            'endTime': '00:10',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'write': {
                'startData': 'denaturation 95, extension 72, annealing 55',
                'stopData': 'denaturation 0, extension 0, annealing 0',
              },
              'read': {
                'format': 'denaturation <denaturation_value>, extension <extension_value>, annealing <annealing_value>',
                'screen': '2',
              }
            }

          }
        ]
      }
    ]

    const screens = [];


    function blRead(device, format, screen) {
      console.log(`Reading data from ${device} with format: ${format}`);

      const oldScreenIndex = screens.findIndex(old_screen => old_screen.id === screen)
      if(oldScreenIndex !== -1){
        console.log(`Killing old chart on screen ${screen}`);
        screens[oldScreenIndex].chartInstance.destroy()
        screens.splice(oldScreenIndex, 1)
      }

      screens.push(
        {
          id: screen,
          display: device,
          data: {},
          chartInstance: null,
          disabled: false,
          format: format,
          readBuffer: "",
        },
      )
      const currentTime = new Date().getTime();
      screen = screens.find(screen => screen.display === device) || null;
      let variables = format.split(/\s+/)
      for(variable of variables){
        screen.data[variable] = [{ x: currentTime, y: 0 }]
      }
      chart = createChart(screen, format)
      screen.chartInstance = chart;
      console.log(screens)
      
    }

    function blStopRead(device, format) {
      console.log(`Stop reading data from ${device} with format: ${format}`);
      screen = screens.find(screen => screen.display === device) || null;
      disableChart(screen);
    }

    var timelineStartTime = new Date();

    // Main function to trigger actions based on timeline JSON
    function runTimeline() {

      timelineStartTime = new Date()

      timelineJson.forEach((entry) => {
        let device = entry.name;

        entry.actions.forEach((action) => {

          let startTime = parseTime(action.startTime);
          let endTime = parseTime(action.endTime);

          if (action.methods.hasOwnProperty('write')) {
            let startData = action.methods.write.startData;
            let stopData = action.methods.write.stopData;

            // Trigger bleSend at startTime with startData
            action.StartTimeoutId = setTimeout(() => {
              blSend(device, startData);
            }, startTime);

            let next_action_index = entry.actions.findIndex(next_action => next_action.startTime === action.endTime)

            if(next_action_index == -1){
              // Trigger bleSend at endTime with stopData
              action.StopTimeoutId = setTimeout(() => {
                blSend(device, stopData);
              }, endTime);
            }
          }

          if (action.methods.hasOwnProperty('read')) {
            let format = action.methods.read.format;
            let screen = action.methods.read.screen;

            // Trigger bleRead at startTime with format
            action.StartTimeoutId = setTimeout(() => {
              blRead(device, format, screen);
            }, startTime);

            // Trigger bleStopRead at endTime with format
            action.StopTimeoutId = setTimeout(() => {
              blStopRead(device, format);
            }, endTime);
          }
        });
      });
    }

    function cancelTimeline(){
      const timelineCancelTime = new Date()
      let pastTime = timelineCancelTime - timelineStartTime

      timelineJson.forEach((entry) => {
        let device = entry.name;

        entry.actions.forEach((action) => {

          const timelineStartTime = new Date()

          let startTime = parseTime(action.startTime);
          let endTime = parseTime(action.endTime);

          if (action.methods.hasOwnProperty('write')) {

            let startData = action.methods.write.startData;
            let stopData = action.methods.write.stopData;

            if(startTime > pastTime){
              clearTimeout(action.StartTimeoutId);
            }
            if(endTime > pastTime){
              clearTimeout(action.StopTimeoutId);
              blSend(device, stopData);
            }
          }

          if (action.methods.hasOwnProperty('read')) {

            let format = action.methods.read.format;
            let screen = action.methods.read.screen;

            if(startTime > pastTime){
              clearTimeout(action.StartTimeoutId);
            }
            if(endTime > pastTime){
              clearTimeout(action.StopTimeoutId);
              blStopRead(device, format);
            }
          }
        });
      });
    }

    // Helper function to parse time in mm:ss format and return milliseconds
    function parseTime(timeStr) {
      const [minutes, seconds] = timeStr.split(':').map(Number);
      return minutes * 60 * 1000 + seconds * 1000;
    }


    function timelineDataToLocalstorage(){
      let timelineString = JSON.stringify(timelineJson)
      //localStorage.setItem('timeline_data', timelineString)

      const url = `https://127.0.0.1:5000/save_application_timeline?id={{context.application.id}}`;

      const headers = {
          "Content-Type": "application/json"
      };

      const payload = {
          'timeline': timelineString,

      };

      fetch(url, {
          method: 'POST',
          headers: headers,
          body: JSON.stringify(payload)
      })
      .then(response => {
          console.log(response.status);
      })
      .catch(error => {
          console.error(error);
      });
    }

    function getTimelineData(){
      try {
          timelineJson = JSON.parse('{{context.application.timeline|safe}}');
          console.log(timelineJson)
          buildTimeline()
        } catch (error) {
          console.log('Error parsing stored data:', error);
        }
      /*
      let timelineString = localStorage.getItem('timeline_data');
      if (timelineString) {
        try {
          timelineJson = JSON.parse(timelineString);
          buildTimeline()
        } catch (error) {
          console.error('Error parsing stored data:', error);
        }
      }*/
      
    }
    


    // -------------------
    // Bluetooth
    /*
    const serviceUUID = "90D3D000-C950-4DD6-9410-2B7AEB1DD7D8".toLowerCase();
    const characteristicUUID = "90D3D000-C950-4DD6-9410-2B7AEB1DD7D9".toLowerCase();

    let devices = [];

    function connect(deviceName) {
      let existingDevice = devices.find(device => device.name === deviceName);

      if (existingDevice) {
        console.log('Selecting a new Bluetooth device for "' + deviceName + '"...');
        return requestBluetoothDevice(deviceName).then(device => {
          existingDevice.device = device;
          return connectDeviceAndCacheCharacteristic(device).then(characteristic =>
            startNotifications(deviceName, characteristic)
          );
        });
      }

      return requestBluetoothDevice(deviceName).then(device => {
        devices.push({ name: deviceName, device: device });
        return connectDeviceAndCacheCharacteristic(device).then(characteristic =>
          startNotifications(deviceName, characteristic)
        );
      });
    }


    function requestBluetoothDevice(deviceName) {
      console.log('Requesting bluetooth device...');

      return navigator.bluetooth
        .requestDevice({
          acceptAllDevices: true,
          optionalServices: [serviceUUID],
        })
        .then(device => {
          console.log('"' + device.name + '" bluetooth device selected');
          deviceCache = device;

          // Added line
          deviceCache.addEventListener('gattserverdisconnected', handleDisconnection.bind(null, deviceName));

          return deviceCache;
        });
    }

    function handleDisconnection(deviceName, event) {
      let device = event.target;

      console.log(
        '"' + device.name + '" bluetooth device disconnected, trying to reconnect...'
      );

      changeModuleConnectionState(deviceName, "disconnected")

      connectDeviceAndCacheCharacteristic(device)
        .then(characteristic => startNotifications(characteristic))
        .catch(error => console.log(error));
    }

    let characteristicCache = null;

    function connectDeviceAndCacheCharacteristic(device) {
      let deviceEntry = devices.find(dev => dev.device === device);

      if (deviceEntry && deviceEntry.characteristic) {
        return Promise.resolve(deviceEntry.characteristic);
      }

      console.log('Connecting to GATT server...');

      return device.gatt
        .connect()
        .then(server => {
          console.log('GATT server connected, getting service...');
          return server.getPrimaryService(serviceUUID);
        })
        .then(service => {
          console.log('Service found, getting characteristic...');
          return service.getCharacteristic(characteristicUUID);
        })
        .then(characteristic => {
          console.log('Characteristic found');
          characteristicCache = characteristic;
          deviceEntry.characteristic = characteristic;
          return characteristicCache;
        });
    }

    function startNotifications(deviceName, characteristic) {
      let device = devices.find(dev => dev.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      console.log('Starting notifications for device "' + deviceName + '"...');

      return characteristic
        .startNotifications()
        .then(() => {
          console.log('Notifications started for device "' + deviceName + '"');
          characteristic.addEventListener(
            'characteristicvaluechanged',
            handleCharacteristicValueChanged.bind(null, deviceName)
          );
          changeModuleConnectionState(deviceName, "connected")
        })
        .catch(error => console.log(error));
    }

    function disconnect(deviceName) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      let characteristic = device.characteristic;
      if (!characteristic) {
        console.log('No characteristic found for device "' + deviceName + '".');
        return;
      }

      if (characteristic.gatt.connected) {
        characteristic.gatt.disconnect();
        console.log('"' + deviceName + '" bluetooth device disconnected');
      } else {
        console.log('"' + deviceName + '" bluetooth device is already disconnected');
      }

      // Remove the characteristic reference
      device.characteristic = null;
    }

    function handleCharacteristicValueChanged(deviceName, event) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }
      let value = new TextDecoder().decode(event.target.value);
      let screen = screens.find(screen => screen.display === deviceName) || null;

      console.log(`received data: ${value}`)

      if (!screen) {
        console.log("Screen with display name '" + deviceName + "' not found.");
        return;
      }


      for (let c of value) {
        if (c === '\n') {
          let data = screen['readBuffer'].trim();
          screen['readBuffer'] = '';
          console.log(data)

          if (data) {
            console.log(`receive: ${data}`);
            writeToScreen(deviceName, data, screen);
          }
        }
        else {
          screen['readBuffer'] += c;
        }
      }
    }
    

    function blSend(deviceName, data) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      data = String(data);

      if (!data || !device.characteristic) {
        console.log('No data or characteristic found for device "' + deviceName + '".');
        return;
      }

      data += '\n';

      console.log(`send: ${data}`);

      if (data.length > 20) {
        let chunks = data.match(/(.|[\r\n]){1,20}/g);

        writeToCharacteristic(device.characteristic, chunks[0]);
        console.log("wrote to characteristic")

        for (let i = 1; i < chunks.length; i++) {
          setTimeout(() => {
            writeToCharacteristic(device.characteristic, chunks[i]);
          }, i * 100);
        }
      }
      else {
        writeToCharacteristic(device.characteristic, data);
      }

    }

    function writeToCharacteristic(characteristic, data) {
      characteristic.writeValue(new TextEncoder().encode(data));
      console.log("wrote to characteristic")
    }
      */

    // ------------------------
    // Charts



    function resetData(data){
        // Alternatively, you can also reset the data at certain intervals to prevent creating a huge series 
        data = data.slice(data.length - 10, data.length);
    }

    function createChart(screen, format){

      let options = {
          series: [],
          chart: {
              id: 'realtime',
              height: 350,
              type: 'line',
              animations: {
              enabled: true,
              easing: 'linear',
              dynamicAnimation: {
                speed: 1000
              }
              },
              toolbar: {
                show: false
              },
              zoom: {
                enabled: false
              },
              height: '100%',
          },
          dataLabels: {
              enabled: false
          },
          title: {
              text: screen.display,
              align: 'left'
          },
          markers: {
              size: 0
          },
          xaxis: {
              type: 'numeric',
              labels: {
                  show: false,
              }
          },
          yaxis: {
              max: 1000,
              min: 0,
              logarithmic: true,
          },
          legend: {
              show: false
          },
      };

      let variables = format.split(/\s+/)
      for(variable of variables){
        let variableDataJson = {
          name: variable,
          data: screen.data[variable].slice()
        }
        options.series.push(variableDataJson)
      }

      let chart = new ApexCharts(document.querySelector(`#chart${screen.id}`), options);
      chart.render();

      return chart
    }

    function disableChart(screen){
      screen["disabled"] = true
    }

    function writeToScreen(deviceName, data_str, screen){
      if(screen["disabled"]){
        console.log("screen disabled")
        return
      }
      const format = screen.format
      const currentTime = new Date().getTime();

      let newSeries = []
      const variables = format.split(/\s+/)
      const data = data_str.split(/\s+/)
      console.log(data)
      console.log(screen.data)
      for(let i=0; i<data.length; i+=2){
        if(screen.data[data[i]][0]["y"] == 0){
          screen.data[data[i]].shift()
        }
        screen.data[data[i]].push({ x: currentTime, y: data[i+1] })
        newSeries.push(
          {
            name: data[i],
            data: screen.data[data[i]],
          }
        )
      }
      console.log(screen.data)
      console.log(newSeries)

      screen.chartInstance.updateSeries(newSeries);
    }

    function editName(id){
      let name = prompt("Enter a new name for the application", "{{context.application.name}}");
      if (name != null) {
        document.querySelector('h1').textContent = name;
      }
      const url = `https://127.0.0.1:5000/edit_application_name?id=${id}`;

      const headers = {
          "Content-Type": "application/json"
      };

      const payload = {
          'name': name,

      };

      fetch(url, {
          method: 'POST',
          headers: headers,
          body: JSON.stringify(payload)
      })
      .then(response => {
          console.log(response.status);
      })
      .catch(error => {
          console.error(error);
      });

    }


    function dragHandler() {
      $(".drag-handler").resizable();
      $(".drag-handler").draggable(); 
    }

    function togglePlayground(){
      let playgroundElement = document.getElementById('playground')
      let playgroundContent = document.getElementById('playground-content')
      if(playgroundElement.classList.contains('playground-expanded')){
        playgroundElement.classList.remove('playground-expanded')
        playgroundElement.classList.remove('drag-handler')
        playgroundContent.style.display = "none"
      }
      else{
        playgroundElement.classList.add('playground-expanded')
        playgroundElement.classList.add('drag-handler')
        dragHandler()
        playgroundContent.style.display = "block"
        /*fetch('/playground')
          .then(response => response.text())
          .then(data => {
          // Append the overlay content to the body
          playgroundElement.insertAdjacentHTML('beforeend', data);
          })
          .catch(error => console.error('Error fetching overlay content:', error));
        }*/
    }
  }

    function showModuleFunctions(id) {
        let name, functions, icon;
        name = document.getElementById('playground-module-title-wrapper-' + id);
        functions = document.getElementById('playground-module-functions-' + id);
        icon = document.getElementById('playground-module-icon-' + id);
        name.setAttribute('onclick', 'hideModuleFunctions("'+id+'")');
        functions.style.display = "block";
        icon.style.transform = 'rotate(180deg)';
    }

    function hideModuleFunctions(id) {
        let name, functions, icon;
        name = document.getElementById('playground-module-title-wrapper-' + id);
        functions = document.getElementById('playground-module-functions-' + id);
        icon = document.getElementById('playground-module-icon-' + id);
        name.setAttribute('onclick', 'showModuleFunctions("'+id+'")');
        functions.style.display = "None";
        icon.style.transform = 'rotate(0deg)';
    }

    function runPlaygroundFunctionWrite(functionName, deviceName) {
      let moduleElement = document.querySelector("#playground-module-" + deviceName);
      let functionElement = moduleElement.querySelector("#playground-function-" + functionName);

      let writeVariableStr = "";

      let i = 1;
      let indexExists = true;
      while(indexExists) {
          try {
              let variableNameElement = functionElement.querySelector(`#playground-variable-write-name-${i}`);
              let variableValueElement = functionElement.querySelector(`#playground-variable-write-value-${i}`);

              if (!variableNameElement || !variableValueElement) {
                  throw new Error("Element not found");
              }

              let variableName = variableNameElement.textContent;
              let variableValue = variableValueElement.value;

              if (!variableValue) {
                  variableValueElement.style.outline = "1px solid red";
                  return;
              } else {
                  variableValueElement.style.outline = "none";
              }

              if (writeVariableStr !== "") {
                  writeVariableStr += " ";
              }
              writeVariableStr += `${variableName} ${variableValue}`;
          } catch {
              indexExists = false;
          }
          i += 1;
      }

      console.log(writeVariableStr)

      blSend(deviceName, writeVariableStr);

    }

    function runPlaygroundFunctionRead(functionName, deviceName) {
      let moduleElement = document.querySelector("#playground-module-" + deviceName);
      let functionElement = moduleElement.querySelector("#playground-function-" + functionName);

      let readVariableStr = ""
      let selectedScreen

      i = 1
      index_exists = true
      try{
          let screenSelect = functionElement.querySelector(`#playground-function-read-select-screen`);
          selectedScreen = screenSelect.options[screenSelect.selectedIndex].value
          if(selectedScreen == "-- select a screen --"){
            screenSelect.style.outline = "1px solid red";
            return;
          }
          else{
            screenSelect.style.outline = "none";
          }
      }
      catch{
        index_exists = false
      }

      while(index_exists){
        try{
          let variable_name = functionElement.querySelector(`#playground-variable-read-name-${i}`).textContent
          if(readVariableStr != ""){
            readVariableStr += " "
          }
          readVariableStr += `${variable_name}`
        }
        catch{
          index_exists = false
        }
        i += 1
      }
      blRead(deviceName, readVariableStr, selectedScreen);

    }


    $(document).ready(dragHandler);

</script>

</html>



{%endblock%}