<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>DiaDisc Dashboard</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/media/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <script type="text/javascript" src="{{url_for('static',filename='js/draggable-resizable.js')}}"></script>
    <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    {%block title%}{%endblock%}
</head>

<body>
    <div class="min-h-full">
        <nav class="border-b border-gray-200 bg-white">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 justify-between">
              <div class="flex">
                <div class="flex flex-shrink-0 items-center">
                  <img class="block h-8 w-auto lg:hidden" src="/static/media/diadisc-logo.png" alt="Logo">
                  <img class="hidden h-8 w-auto lg:block" src="/static/media/diadisc-logo.png" alt="Logo">
                </div>
                <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                  <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                  <a href="/" id="nav-applications" class="{% if request.path == '/' %}selected-page border-indigo-500{%endif%} text-gray-900 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium" aria-current="page">Applications</a>
                  <a href="/modules" id="nav-modules" class="{% if request.path == '/modules' %}selected-page border-indigo-500{%endif%} text-gray-900 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">Modules</a>
                </div>
              </div>
              <div class="hidden sm:ml-6 sm:flex sm:items-center">
                <!--
                <button type="button" class="relative rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="absolute -inset-1.5"></span>
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button>
                -->
      
                <a class="hover:underline text-gray-500 text-xs hover:underline" href="/logout">Logout</a>
                <!-- Profile dropdown -->
                <div class="relative ml-3" id="user-profile">
                  <div>
                    <button type="button" class="relative flex max-w-xs items-center rounded-full bg-white text-sm" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="absolute -inset-1.5"></span>
                      <span class="sr-only">Open user menu</span>
                      <img class="h-8 w-8 rounded-full" src="{{context.current_user.profile_pic}}" alt="">
                    </button>
                  </div>
      
                  <!--
                    Dropdown menu, show/hide based on menu state.
      
                    Entering: "transition ease-out duration-200"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->

                </div>
              </div>

              <div class="-mr-2 flex items-center sm:hidden">
                <!-- Mobile menu button -->
                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" aria-controls="mobile-menu" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <!-- Menu open: "hidden", Menu closed: "block" -->
                  <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                  <!-- Menu open: "block", Menu closed: "hidden" -->
                  <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
      
          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 pb-3 pt-2">
              <!-- Current: "border-indigo-500 bg-indigo-50 text-indigo-700", Default: "border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" -->
              <a href="#" class="border-indigo-500 bg-indigo-50 text-indigo-700 block border-l-4 py-2 pl-3 pr-4 text-base font-medium" aria-current="page">Dashboard</a>
              <a href="#" class="border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 block border-l-4 py-2 pl-3 pr-4 text-base font-medium">Team</a>
              <a href="#" class="border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 block border-l-4 py-2 pl-3 pr-4 text-base font-medium">Projects</a>
              <a href="#" class="border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 block border-l-4 py-2 pl-3 pr-4 text-base font-medium">Calendar</a>
            </div>
            <div class="border-t border-gray-200 pb-3 pt-4">
              <div class="flex items-center px-4">
                <div class="flex-shrink-0">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </div>
                <div class="ml-3">
                  <div class="text-base font-medium text-gray-800">Tom Cook</div>
                  <div class="text-sm font-medium text-gray-500">tom@example.com</div>
                </div>
                <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button>
              </div>
              <div class="mt-3 space-y-1">
                <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Your Profile</a>
                <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Settings</a>
                <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Sign out</a>
              </div>
            </div>
          </div>
        </nav>
      
        <div class="py-10">
          <header>

          </header>
          <main>
            {%block content%}{%endblock%}
          </main>
        </div>
      </div>

      <!--Add Module Overlay-->
      <div class="relative z-10" id="module-selector" style="display: none;" role="dialog" aria-modal="true" onclick="hideModuleSelector()">
        <!--
          Background backdrop, show/hide based on modal state.
      
          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20">
          <!--
            Command palette, show/hide based on modal state.
      
            Entering: "ease-out duration-300"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
            Leaving: "ease-in duration-2f00"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95"
          -->
          <div class="mx-auto max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
      
            <div class="relative">
                <p class="h-12 w-full border-0 bg-transparent px-4 py-4 text-gray-400 sm:text-sm">Select a module</p>
            </div>

            <!-- Results, show/hide based on command palette state -->
            <ul class="max-h-72 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800" id="options" role="listbox">
              <!-- Active: "bg-indigo-600 text-white" -->
              {% for module in context.modules %}
              <li class="cursor-default select-none px-4 py-2 hover:bg-blue-600 hover:text-white" id="option-1" role="option" tabindex="-1" onclick="addModule('{{module.name}}')">{{module.name}}</li>
              {% endfor %}
            </ul>
      

          </div>
        </div>
      </div>

</body>

<script>
    
    /*
    // -------------------
    // Bluetooth
    let devices = [];

    function connect(deviceName) {
      let existingDevice = devices.find(device => device.name === deviceName);

      if (existingDevice) {
        console.log('Selecting a new Bluetooth device for "' + deviceName + '"...');
        return requestBluetoothDevice(deviceName).then(device => {
          existingDevice.device = device;
          return connectDeviceAndCacheCharacteristic(device).then(characteristic =>
            startNotifications(deviceName, characteristic)
          );
        });
      }

      return requestBluetoothDevice(deviceName).then(device => {
        devices.push({ name: deviceName, device: device });
        return connectDeviceAndCacheCharacteristic(device).then(characteristic =>
          startNotifications(deviceName, characteristic)
        );
      });
    }


    function requestBluetoothDevice(deviceName) {
      console.log('Requesting bluetooth device...');

      return navigator.bluetooth
        .requestDevice({
          filters: [{name: deviceName}],
            optionalServices: [bleService]
        })
        .then(device => {
          console.log('"' + device.name + '" bluetooth device selected');
          deviceCache = device;

          // Added line
          deviceCache.addEventListener('gattserverdisconnected', handleDisconnection.bind(null, deviceName));

          return deviceCache;
        });
    }

    function handleDisconnection(deviceName, event) {
      let device = event.target;

      console.log(
        '"' + device.name + '" bluetooth device disconnected, trying to reconnect...'
      );

      changeModuleConnectionState(deviceName, "disconnected")

      connectDeviceAndCacheCharacteristic(device)
        .then(characteristic => startNotifications(characteristic))
        .catch(error => console.log(error));
    }

    let characteristicCache = null;

    function connectDeviceAndCacheCharacteristic(device) {
      let deviceEntry = devices.find(dev => dev.device === device);

      if (deviceEntry && deviceEntry.characteristic) {
        return Promise.resolve(deviceEntry.characteristic);
      }

      console.log('Connecting to GATT server...');

      return device.gatt
        .connect()
        .then(server => {
          console.log('GATT server connected, getting service...');
          return server.getPrimaryService(0xFFE0);
        })
        .then(service => {
          console.log('Service found, getting characteristic...');
          return service.getCharacteristic(0xFFE1);
        })
        .then(characteristic => {
          console.log('Characteristic found');
          characteristicCache = characteristic;
          deviceEntry.characteristic = characteristic;
          return characteristicCache;
        });
    }

    function startNotifications(deviceName, characteristic) {
      let device = devices.find(dev => dev.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      console.log('Starting notifications for device "' + deviceName + '"...');

      return characteristic
        .startNotifications()
        .then(() => {
          console.log('Notifications started for device "' + deviceName + '"');
          characteristic.addEventListener(
            'characteristicvaluechanged',
            handleCharacteristicValueChanged.bind(null, deviceName)
          );
          changeModuleConnectionState(deviceName, "connected")
        })
        .catch(error => console.log(error));
    }

    function disconnect(deviceName) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      let characteristic = device.characteristic;
      if (!characteristic) {
        console.log('No characteristic found for device "' + deviceName + '".');
        return;
      }

      if (characteristic.gatt.connected) {
        characteristic.gatt.disconnect();
        console.log('"' + deviceName + '" bluetooth device disconnected');
      } else {
        console.log('"' + deviceName + '" bluetooth device is already disconnected');
      }

      // Remove the characteristic reference
      device.characteristic = null;
    }

    function handleCharacteristicValueChanged(deviceName, event) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }
      let value = new TextDecoder().decode(event.target.value);
      let screen = screens.find(screen => screen.display === deviceName) || null;

      console.log("received data")

      if (!screen) {
        console.log("Screen with display name '" + deviceName + "' not found.");
        return;
      }


      for (let c of value) {
        if (c === '\n') {
          let data = screen['readBuffer'].trim();
          screen['readBuffer'] = '';
          console.log(data)

          if (data) {
            console.log(`receive: ${data}`);
            writeToScreen(deviceName, data, screen);
          }
        }
        else {
          screen['readBuffer'] += c;
        }
      }
    }
    

    function blSend(deviceName, data) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      data = String(data);

      if (!data || !device.characteristic) {
        console.log('No data or characteristic found for device "' + deviceName + '".');
        return;
      }

      data += '\n';

      console.log(`send: ${data}`);

      if (data.length > 20) {
        let chunks = data.match(/(.|[\r\n]){1,20}/g);

        writeToCharacteristic(device.characteristic, chunks[0]);

        for (let i = 1; i < chunks.length; i++) {
          setTimeout(() => {
            writeToCharacteristic(device.characteristic, chunks[i]);
          }, i * 100);
        }
      }
      else {
        writeToCharacteristic(device.characteristic, data);
      }

    }

    function writeToCharacteristic(characteristic, data) {
      characteristic.writeValue(new TextEncoder().encode(data));
    }

    */


    // ------------------------
    // Bluetooth

    let devices = [];
    const bleService = '19b10000-e8f2-537e-4f6c-d104768a1214';
    const comiCharacteristic = '19b10002-e8f2-537e-4f6c-d104768a1214';
    const cimoCharacteristic = '19b10001-e8f2-537e-4f6c-d104768a1214';

    // Connect to BLE Device and Enable Notifications
    function connect(deviceName){ 
      console.log('Initializing Bluetooth...');
        navigator.bluetooth.requestDevice({
            /*filters: [{name: deviceName}],*/
            acceptAllDevices: true,
            optionalServices: [bleService]
        })
        .then(device => {
            devices.push({ name: deviceName, device: device });
            console.log('Device Selected:', device.name);
            console.log('Device List:', devices);
            device.addEventListener('gattservicedisconnected', onDisconnected.bind(null, deviceName));
            return device.gatt.connect();
        })
        .then(gattServer =>{
            let deviceEntry = devices.find(dev => dev.name === deviceName);
            deviceEntry.bleServer = gattServer;
            // bleServer = gattServer;
            console.log("Connected to GATT Server");
            return deviceEntry.bleServer.getPrimaryService(bleService);
        })
        .then(service => {
            let deviceEntry = devices.find(dev => dev.name === deviceName);
            deviceEntry.service = service;
            // bleServiceFound = service;
            console.log("Service discovered:", service.uuid);
            return service.getCharacteristic(cimoCharacteristic);
        })
        .then(characteristic => {
            console.log("Characteristic discovered:", characteristic.uuid);
            sensorCharacteristicFound = characteristic;
            characteristic.addEventListener('characteristicvaluechanged', handleCharacteristicChange.bind(null, deviceName));
            characteristic.startNotifications();
            console.log("Notifications Started.");
            return characteristic.readValue();
        })
        .then(value => {
            console.log("Read value: ", value);
            const decodedValue = new TextDecoder().decode(value);
            console.log("Decoded value: ", decodedValue);         
        })
        .catch(error => {
            console.log('Error: ', error);
        })
    }

    function onDisconnected(deviceName, event){
        console.log('Device Disconnected:', event.target.device.name);

        connectToDevice();
    }

    function handleCharacteristicChange(deviceName, event){
        const newValueReceived = new TextDecoder().decode(event.target.value);
        console.log("Characteristic value changed: ", newValueReceived);


        let device = devices.find(device => device.name === deviceName);

        if (!device) {
          console.log('Device with name "' + deviceName + '" not found.');
          return;
        }
        let value = new TextDecoder().decode(event.target.value);
        let screen = screens.find(screen => screen.display === deviceName) || null;

        console.log("received data")

        if (!screen) {
          console.log("Screen with display name '" + deviceName + "' not found.");
          return;
        }


        for (let c of value) {
          console.log(c)
          if (c === '\n') {
            let data = screen['readBuffer'].trim();
            screen['readBuffer'] = '';
            console.log(data)

            if (data) {
              console.log(`receive: ${data}`);
              writeToScreen(deviceName, data, screen);
            }
          }
          else {
            screen['readBuffer'] += c;
          }
        }
    }

    function blSend(deviceName, value){
        let device = devices.find(dev => dev.name === deviceName);
        if (device.bleServer && device.bleServer.connected) {
          device.service.getCharacteristic(comiCharacteristic)
            .then(characteristic => {
                console.log("Found the comiCharacteristc: ", characteristic.uuid);
                const data = String(value + "\n")
          
                if (data.length > 20) {
                  let chunks = data.match(/(.|[\r\n]){1,20}/g);

                  characteristic.writeValue(new TextEncoder().encode(chunks[0]))
                  console.log("wrote to characteristic")

                  for (let i = 1; i < chunks.length; i++) {
                    setTimeout(() => {
                      characteristic.writeValue(new TextEncoder().encode(chunks[i]))
                    }, i * 100);
                  }
                }
                else {
                  characteristic.writeValue(new TextEncoder().encode(data));
                }

                return data;
            })
            .then(() => {
                console.log("Value written to comiCharacteristic:", value);
            })
            .catch(error => {
                console.error("Error writing to the LED characteristic: ", error);
            });
        } else {
            console.error ("Bluetooth is not connected. Cannot write to characteristic.")
            window.alert("Bluetooth is not connected. Cannot write to characteristic. \n Connect to BLE first!")
        }
    }

    function disconnectDevice() {
        console.log("Disconnect Device.");
        if (bleServer && bleServer.connected) {
            if (sensorCharacteristicFound) {
                sensorCharacteristicFound.stopNotifications()
                    .then(() => {
                        console.log("Notifications Stopped");
                        return bleServer.disconnect();
                    })
                    .then(() => {
                        console.log("Device Disconnected");

                    })
                    .catch(error => {
                        console.log("An error occurred:", error);
                    });
            } else {
                console.log("No characteristic found to disconnect.");
            }
        } else {
            // Throw an error if Bluetooth is not connected
            console.error("Bluetooth is not connected.");
            window.alert("Bluetooth is not connected.")
        }
    }





    // ------------------------
    // Charts

    /*

    function resetData(data){
        // Alternatively, you can also reset the data at certain intervals to prevent creating a huge series 
        data = data.slice(data.length - 10, data.length);
    }

    function createChart(screen, format){

      let options = {
          series: [],
          chart: {
              id: 'realtime',
              height: 350,
              type: 'line',
              animations: {
              enabled: true,
              easing: 'linear',
              dynamicAnimation: {
                speed: 1000
              }
              },
              toolbar: {
                show: false
              },
              zoom: {
                enabled: false
              },
              height: '100%',
          },
          dataLabels: {
              enabled: false
          },
          title: {
              text: screen.display,
              align: 'left'
          },
          markers: {
              size: 0
          },
          xaxis: {
              type: 'numeric',
              labels: {
                  show: false,
              }
          },
          yaxis: {
              max: 500
          },
          legend: {
              show: false
          },
      };
        

      let variables = format.split(/\s+/)
      for(variable of variables){
        let variableDataJson = {
          name: variable,
          data: screen.data[variable].slice()
        }
        options.series.push(variableDataJson)
      }

      let chart = new ApexCharts(document.querySelector(`#chart${screen.id}`), options);
      chart.render();

      return chart
    }

    function disableChart(screen){
      screen["disabled"] = true
    }

    function writeToScreen(deviceName, data_str, screen){
      if(screen["disabled"]){
        console.log("screen disabled")
        return
      }
      const format = screen.format
      const currentTime = new Date().getTime();

      let newSeries = []
      const variables = format.split(/\s+/)
      const data = data_str.split(/\s+/)
      console.log(data)
      console.log(screen.data)
      for(let i=0; i<data.length; i+=2){
        if(screen.data[data[i]][0]["y"] == 0){
          screen.data[data[i]].shift()
        }
        screen.data[data[i]].push({ x: currentTime, y: data[i+1] })
        newSeries.push(
          {
            name: data[i],
            data: screen.data[data[i]],
          }
        )
      }
      console.log(screen.data)
      console.log(newSeries)

      screen.chartInstance.updateSeries(newSeries);
    }

    */


</script>

</html>

