<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>DiaDisc Dashboard</title>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <div class="min-h-full">
        <nav class="border-b border-gray-200 bg-white">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="flex h-16 justify-between">
              <div class="flex">
                <div class="flex flex-shrink-0 items-center">
                  <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                  <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
                </div>
                <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
                  <!-- Current: "border-indigo-500 text-gray-900", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                  <a href="#" class="border-indigo-500 text-gray-900 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium" aria-current="page">Dashboard</a>
                  <a href="/modules" class="border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium">Modules</a>
                </div>
              </div>
              <div class="hidden sm:ml-6 sm:flex sm:items-center">
                <button type="button" class="rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button>
      
                <!-- Profile dropdown -->
                <div class="relative ml-3">
                  <div>
                    <button type="button" class="flex max-w-xs items-center rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="sr-only">Open user menu</span>
                      <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                    </button>
                  </div>
                </div>
              </div>
              <div class="-mr-2 flex items-center sm:hidden">
                <!-- Mobile menu button -->
                <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" aria-controls="mobile-menu" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <!-- Menu open: "hidden", Menu closed: "block" -->
                  <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                  <!-- Menu open: "block", Menu closed: "hidden" -->
                  <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
      
          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 pb-3 pt-2">
              <!-- Current: "border-indigo-500 bg-indigo-50 text-indigo-700", Default: "border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800" -->
              <a href="#" class="border-indigo-500 bg-indigo-50 text-indigo-700 block border-l-4 py-2 pl-3 pr-4 text-base font-medium" aria-current="page">Dashboard</a>
              <a href="#" class="border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 block border-l-4 py-2 pl-3 pr-4 text-base font-medium">Team</a>
              <a href="#" class="border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 block border-l-4 py-2 pl-3 pr-4 text-base font-medium">Projects</a>
              <a href="#" class="border-transparent text-gray-600 hover:border-gray-300 hover:bg-gray-50 hover:text-gray-800 block border-l-4 py-2 pl-3 pr-4 text-base font-medium">Calendar</a>
            </div>
            <div class="border-t border-gray-200 pb-3 pt-4">
              <div class="flex items-center px-4">
                <div class="flex-shrink-0">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </div>
                <div class="ml-3">
                  <div class="text-base font-medium text-gray-800">Tom Cook</div>
                  <div class="text-sm font-medium text-gray-500">tom@example.com</div>
                </div>
                <button type="button" class="ml-auto flex-shrink-0 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                  <span class="sr-only">View notifications</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                  </svg>
                </button>
              </div>
              <div class="mt-3 space-y-1">
                <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Your Profile</a>
                <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Settings</a>
                <a href="#" class="block px-4 py-2 text-base font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-800">Sign out</a>
              </div>
            </div>
          </div>
        </nav>
      
        <div class="py-10">
          <header>

          </header>
          <main>
            <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 grid-container">
              <!-- Your content -->

                <div class="screen1">
                    <div id="chart1"></div>
                </div>
                <div class="screen2">
                  <div id="chart2"></div>
                </div>
                <div class="editor">
                    <div class="editor-left bg-gray-50">
                        <div class="editor-controls">
                            <button type="button" onclick="runTimeline()" class="control-button rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Run</button>
                            <button type="button" onclick="cancelTimeline()" class="control-button rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Cancel</button>
                        </div>
                        <div class="editor-modules">
                            <ul id="module-list">

                            </ul>
                            <button class="add-module-button hover:bg-gray-100" onclick="displayModuleSelector()">
                                +
                            </button>
                        </div>
                    </div>
                    <div class="editor-right">
                        <div class="timeline-times">
                          <button type="button" onclick="openCodeEditor()" class="editor-button rounded bg-white px-2 py-1 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                            <i class="material-icons" style="font-size:20px;">code</i>
                          </button>
                        </div>
                        <ul class="timeline-rows" id="timeline-rows">
                        </ul>
                    </div>
                </div>

            </div>
          </main>
        </div>
      </div>

      <!--Add Module Overlay-->
      <div class="relative z-10" id="module-selector" style="display: none;" role="dialog" aria-modal="true" onclick="hideModuleSelector()">
        <!--
          Background backdrop, show/hide based on modal state.
      
          Entering: "ease-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="fixed inset-0 bg-gray-500 bg-opacity-25 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 overflow-y-auto p-4 sm:p-6 md:p-20">
          <!--
            Command palette, show/hide based on modal state.
      
            Entering: "ease-out duration-300"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95"
          -->
          <div class="mx-auto max-w-xl transform divide-y divide-gray-100 overflow-hidden rounded-xl bg-white shadow-2xl ring-1 ring-black ring-opacity-5 transition-all">
      
            <div class="relative">
                <p class="h-12 w-full border-0 bg-transparent px-4 py-4 text-gray-400 sm:text-sm">Select a module</p>
            </div>

            <!-- Results, show/hide based on command palette state -->
            <ul class="max-h-72 scroll-py-2 overflow-y-auto py-2 text-sm text-gray-800" id="options" role="listbox">
              <!-- Active: "bg-indigo-600 text-white" -->
              {% for module in modules %}
              <li class="cursor-default select-none px-4 py-2 hover:bg-blue-600 hover:text-white" id="option-1" role="option" tabindex="-1" onclick="addModule('{{module.name}}')">{{module.name}}</li>
              {% endfor %}
            </ul>
      

          </div>
        </div>
      </div>

</body>

<script>
    let timelineJson = []

    const moduleList = document.getElementById('module-list')
    const timelineRows = document.getElementById('timeline-rows')
    const moduleSelector = document.getElementById('module-selector')
    let flask;

    getTimelineData()

    function displayModuleSelector(){
        moduleSelector.style.display = 'block'
    }

    function hideModuleSelector(){
        moduleSelector.style.display = 'none'
    }

    function openCodeEditor(){
        console.log('show code editor overlay')
        fetch('/code_editor_overlay')
        .then(response => response.text())
        .then(data => {
          // Append the overlay content to the body and create editor instance
          document.body.insertAdjacentHTML('beforeend', data);
          flask = new CodeFlask('#code-editor', { 
            language: 'js',
            lineNumbers: true,
          });
          flask.updateCode(JSON.stringify(timelineJson, null, 2));

        })
        .catch(error => console.error('Error fetching overlay content:', error));
    }

    function closeCodeEditor(){
      document.getElementById("code-editor-overlay").remove()
    }

    function saveCodeEditor(){
      timelineJson = JSON.parse(flask.getCode());
      closeCodeEditor();
      buildTimeline();
      timelineDataToLocalstorage();
    }

    function buildTimeline(){
      for(module of timelineJson){
        const moduleElement = document.getElementById(`module-${module.name}`)
        if (moduleElement === null) addModuleElement(module.name);
        changeModuleConnectionState(module.name, module.connected)
        for(action of module.actions){
          const actionElement = document.getElementById(`timeline-action-${action.id}`)
          if (actionElement === null) addActionElement(module.name, action);
        }
      }
    }

    function addModule(module){
        let moduleJson = {
          'name': module,
          'connected': false,
          'actions': []
        }
        timelineJson.push(moduleJson)

        timelineDataToLocalstorage()

        addModuleElement(module)
    }

    function addModuleElement(module){
        // Create the li element
        let liElement = document.createElement("li");
        liElement.classList.add('module')
        liElement.id = `module-${module}`

        // Create the paragraph element and set its content
        let pElement = document.createElement("p");
        pElement.textContent = module;
        pElement.classList.add('module-title', 'text-sm')

        // Create the "Connect" button element
        let buttonElement = document.createElement("button");
        buttonElement.textContent = "Connect";
        buttonElement.classList.add('connect-button', 'text-xs', 'text-gray-600')
        buttonElement.id = `connect-button-${module}`
        buttonElement.addEventListener('click', function() {
          connect(`${module}`);
        });

        // Append the paragraph and button elements to the li element
        liElement.appendChild(pElement);
        liElement.appendChild(buttonElement);
        moduleList.appendChild(liElement);

        let rowElement = document.createElement("li");
        rowElement.id = `timeline-row-${module}`
        rowElement.classList.add('timeline-row')
        rowElement.addEventListener('click', function() {
          showAddActionOverlay(`${module}`);
        });

        timelineRows.appendChild(rowElement)
    }

    function convertTimeToSeconds(timeString) {
      const [minutes, seconds] = timeString.split(":").map(Number);
      return minutes * 60 + seconds;
    }

    function addActionElement(module, action){
      console.log(action)
      const startSeconds = convertTimeToSeconds(action['startTime']);
      const endSeconds = convertTimeToSeconds(action['endTime']);
      const widthSeconds = endSeconds - startSeconds;

      const actionElement = document.createElement("div");
      actionElement.classList.add('timeline-action');
      actionElement.id = `timeline-action-${action.id}`

      actionElement.style.left = `${startSeconds * 10}px`;
      actionElement.style.width = `${widthSeconds * 10}px`;

      const timeElement = document.createElement("p");
      timeElement.classList.add('timeline-action-times');
      timeElement.textContent = `${action['startTime']} - ${action['endTime']}`

      const deleteButton = document.createElement("button");
      deleteButton.classList.add('timeline-action-delete')
      deleteButton.onclick = () => {deleteAction(module, action.id)}
      const deleteIcon = document.createElement("i")
      deleteIcon.classList.add('material-icons')
      deleteIcon.style.fontSize = "14px"
      deleteIcon.textContent = 'close'
      deleteButton.appendChild(deleteIcon)

      actionElement.appendChild(timeElement)
      actionElement.appendChild(deleteButton)


      if(action['methods']['write']){
        const method = document.createElement("div");
        method.classList.add('timeline-action-method');
        const title = document.createElement("p");
        title.classList.add('timeline-action-title');
        title.textContent = action['methods']['write']['function'];
        method.appendChild(title);
        
        const parameterStr = action['methods']['write']['startData'];
        const parameterPairs = parameterStr.split(/\s+/);

        for (let i = 0; i < parameterPairs.length; i += 2) {
          const parameterName = parameterPairs[i];
          const parameterValue = parameterPairs[i + 1];

          const badge = document.createElement("span");
          badge.classList.add("timeline-action-badge", "inline-flex", "items-center", "rounded-full", "bg-gray-50", "px-2", "py-1", "text-xs", "font-medium", "text-gray-600", "ring-1", "ring-inset", "ring-gray-500/10");
          badge.textContent = `${parameterName} ${parameterValue}`;
          method.appendChild(badge);
        }
        actionElement.appendChild(method);
      }

      if(action['methods']['read']){
        const method = document.createElement("div");
        method.classList.add('timeline-action-method');
        const title = document.createElement("p");
        title.classList.add('timeline-action-title', 'text-sm');
        title.textContent = action['methods']['read']['function'];
        method.appendChild(title);
        
        const parameterStr = action['methods']['read']['format'];
        const parameters = parameterStr.split(/\s+/);

        for (let i = 0; i < parameters.length; i += 1) {
          const parameterName = parameters[i];

          const badge = document.createElement("span");
          badge.classList.add("timeline-action-badge", "inline-flex", "items-center", "rounded-full", "bg-gray-50", "px-2", "py-1", "text-xs", "font-medium", "text-gray-600", "ring-1", "ring-inset", "ring-gray-500/10");

          badge.textContent = `${parameterName}`;
          method.appendChild(badge);
        }
        actionElement.appendChild(method);
      }
      const moduleRow = document.getElementById(`timeline-row-${module}`);
      moduleRow.appendChild(actionElement)
      
    }

    function showAddActionOverlay(module){
        console.log('show add action overlay')
        fetch(`/show_add_action_overlay?module=${module}`)
        .then(response => response.text())
        .then(data => {
        // Append the overlay content to the body
        document.body.insertAdjacentHTML('beforeend', data);
        })
        .catch(error => console.error('Error fetching overlay content:', error));
    }

    function closeAddActionOverlay(){
      document.getElementById('action-overlay').remove()
    }

    function addFunctionVariables(method){
      let select = document.getElementById(`function-${method}-select`)
      let functionName = select.options[select.selectedIndex].text
      try{
        document.getElementById(`function-${method}`).variables.remove()
      }
      catch{}
      console.log('add function variables')
        fetch(`/add_function_variables?function=${functionName}`)
        .then(response => response.text())
        .then(data => {
        // Append the overlay content to the body
        document.getElementById(`function-${method}`).insertAdjacentHTML('beforeend', data);
        })
        .catch(error => console.error('Error fetching overlay content:', error));
    }

    function addAction(module){
      const startTime = document.getElementById('start-time').value
      const endTime = document.getElementById('end-time').value
      const id = Date.now().toString(36) + Math.floor(Math.pow(10, 12) + Math.random() * 9*Math.pow(10, 12)).toString(36)

      let actionJson = {
        'id': id,
        'startTime': startTime,
        'endTime': endTime,
        'StartTimeoutId': null,
        'StopTimeoutId': null,
        'methods': {}
      }

      let writeSelect = document.getElementById(`function-write-select`)
      let writeFunctionName = writeSelect.options[writeSelect.selectedIndex].text

      let writeVariableStr = ""

      let i = 1
      let index_exists = true
      while(index_exists){
        try{
          let variable_name = document.getElementById(`variable-write-name-${i}`).textContent
          let variable_value = document.getElementById(`variable-write-value-${i}`).value
          if(writeVariableStr != ""){
            writeVariableStr += " "
          }
          writeVariableStr += `${variable_name} ${variable_value}`
        }
        catch{
          index_exists = false
        }
        i += 1
      }

      if(writeVariableStr != ""){
        let writeJson = {
          'function': writeFunctionName,
          'startData': writeVariableStr,
          'stopData': writeVariableStr.replace(/\d+/g, '0'),
        }
        actionJson['methods']['write'] = writeJson
      }



      let readSelect = document.getElementById(`function-read-select`)
      let readFunctionName = readSelect.options[readSelect.selectedIndex].text

      let readVariableStr = ""
      let selectedScreen

      i = 1
      index_exists = true
      try{
          let screenSelect = document.getElementById(`function-read-select-screen`)
          selectedScreen = screenSelect.options[screenSelect.selectedIndex].value
      }
      catch{
        index_exists = false
      }

      while(index_exists){
        try{
          let variable_name = document.getElementById(`variable-read-name-${i}`).textContent
          if(readVariableStr != ""){
            readVariableStr += " "
          }
          readVariableStr += `${variable_name}`
        }
        catch{
          index_exists = false
        }
        i += 1
      }


      if(readVariableStr != ""){
        let readJson = {
          'function': readFunctionName,
          'format': readVariableStr,
          'screen': selectedScreen,
        }
        actionJson['methods']['read'] = readJson
      }

      let moduleObj = timelineJson.find(moduleObj => moduleObj.name === module)


      moduleObj['actions'].push(actionJson)
      console.log(timelineJson)
      addActionElement(module, actionJson)
      closeAddActionOverlay()
      timelineDataToLocalstorage()
    }

    function deleteAction(module, actionId){
      let moduleObjIndex = timelineJson.findIndex(moduleObj => moduleObj.name === module)
      console.log(timelineJson[moduleObjIndex])

      if(timelineJson[moduleObjIndex]['actions']){
        let actionObjIndex = timelineJson[moduleObjIndex]['actions'].findIndex(actionObj => actionObj.id === actionId);

        if (actionObjIndex !== -1) {
          timelineJson[moduleObjIndex]['actions'].splice(actionObjIndex, 1);
        }

        document.getElementById(`timeline-action-${actionId}`).remove()
      }
      else{
        console.log(`couldn't remove action with ID ${actionId}`)
      }
      console.log(timelineJson)
      timelineDataToLocalstorage()

    }
    
    function changeModuleConnectionState(module, state){
      let connectButton = document.getElementById(`connect-button-${module}`)
      let moduleObj = timelineJson.find(moduleObj => moduleObj.name === module)

      if(state == "connected"){
        moduleObj.connected = true
        connectButton.classList.add('connected')
        connectButton.textContent = "Connected"
      }
      else if(state == "disconnected"){
        moduleObj.connected = false
        connectButton.classList.add('disconnected')
        connectButton.textContent = "Connect"
      }
      console.log(timelineJson)

    }


        // --------
    // Timeline
    const timelineJson1 = [
      {
        'name': 'spectroscope',
        'connected': false,
        'actions': [
          {
            'startTime': '00:00',
            'endTime': '00:50',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'read': {
                'format': 'fluorescence <fluorescence_value>',
                'screen': '1',
              }
            }
          }

        ]
      },
      {
        'name': 'motor',
        'connected': false,
        'actions': [
          {
            'startTime': '00:00',
            'endTime': '00:30',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'write': {
                'startData': 'rpm 1000',
                'stopData': 'rpm 0',
              }
            }
          },
          {
            'startTime': '00:30',
            'endTime': '00:45',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'write': {
                'startData': 'rpm 2000',
                'stopData': 'rpm 0',
              }
            }
          },
        ]
      },
      {
        'name': 'eload',
        'connected': false,
        'actions': [
          {
            'startTime': '00:00',
            'endTime': '00:10',
            'StartTimeoutId': null,
            'StopTimeoutId': null,
            'methods': {
              'write': {
                'startData': 'denaturation 95, extension 72, annealing 55',
                'stopData': 'denaturation 0, extension 0, annealing 0',
              },
              'read': {
                'format': 'denaturation <denaturation_value>, extension <extension_value>, annealing <annealing_value>',
                'screen': '2',
              }
            }

          }
        ]
      }
    ]

    const screens = [];


    function blRead(device, format, screen) {
      console.log(`Reading data from ${device} with format: ${format}`);

      const oldScreenIndex = screens.findIndex(screen => screen.id === screen)
      if(oldScreenIndex !== -1){
        console.log(`Killing old chart on screen ${screen}`);
        screens[oldScreenIndex].chartInstance.destroy()
        screens.splice(oldScreenIndex, 1)
      }

      screens.push(
        {
          id: screen,
          display: device,
          data: {},
          chartInstance: null,
          disabled: false,
          format: format,
          readBuffer: "",
        },
      )
      const currentTime = new Date().getTime();
      screen = screens.find(screen => screen.display === device) || null;
      let variables = format.split(/\s+/)
      for(variable of variables){
        screen.data[variable] = [{ x: currentTime, y: 0 }]
      }
      chart = createChart(screen, format)
      screen.chartInstance = chart;
      console.log(screens)
      
    }

    function blStopRead(device, format) {
      console.log(`Stop reading data from ${device} with format: ${format}`);
      screen = screens.find(screen => screen.display === device) || null;
      disableChart(screen);
    }

    var timelineStartTime = new Date();

    // Main function to trigger actions based on timeline JSON
    function runTimeline() {

      timelineStartTime = new Date()

      timelineJson.forEach((entry) => {
        let device = entry.name;

        entry.actions.forEach((action) => {

          let startTime = parseTime(action.startTime);
          let endTime = parseTime(action.endTime);

          if (action.methods.hasOwnProperty('write')) {
            let startData = action.methods.write.startData;
            let stopData = action.methods.write.stopData;

            // Trigger bleSend at startTime with startData
            action.StartTimeoutId = setTimeout(() => {
              blSend(device, startData);
            }, startTime);

            // Trigger bleSend at endTime with stopData
            action.StopTimeoutId = setTimeout(() => {
              blSend(device, stopData);
            }, endTime);
          }

          if (action.methods.hasOwnProperty('read')) {
            let format = action.methods.read.format;
            let screen = action.methods.read.screen;

            // Trigger bleRead at startTime with format
            action.StartTimeoutId = setTimeout(() => {
              blRead(device, format, screen);
            }, startTime);

            // Trigger bleStopRead at endTime with format
            action.StopTimeoutId = setTimeout(() => {
              blStopRead(device, format);
            }, endTime);
          }
        });
      });
    }

    function cancelTimeline(){
      const timelineCancelTime = new Date()
      let pastTime = timelineCancelTime - timelineStartTime

      timelineJson.forEach((entry) => {
        let device = entry.name;

        entry.actions.forEach((action) => {

          const timelineStartTime = new Date()

          let startTime = parseTime(action.startTime);
          let endTime = parseTime(action.endTime);

          if (action.methods.hasOwnProperty('write')) {

            let startData = action.methods.write.startData;
            let stopData = action.methods.write.stopData;

            if(startTime > pastTime){
              clearTimeout(action.StartTimeoutId);
            }
            if(endTime > pastTime){
              clearTimeout(action.StopTimeoutId);
              blSend(device, stopData);
            }
          }

          if (action.methods.hasOwnProperty('read')) {

            let format = action.methods.read.format;
            let screen = action.methods.read.screen;

            if(startTime > pastTime){
              clearTimeout(action.StartTimeoutId);
            }
            if(endTime > pastTime){
              clearTimeout(action.StopTimeoutId);
              blStopRead(device, format);
            }
          }
        });
      });
    }

    // Helper function to parse time in mm:ss format and return milliseconds
    function parseTime(timeStr) {
      const [minutes, seconds] = timeStr.split(':').map(Number);
      return minutes * 60 * 1000 + seconds * 1000;
    }


    function timelineDataToLocalstorage(){
      let timelineString = JSON.stringify(timelineJson)
      localStorage.setItem('timeline_data', timelineString)
    }

    function getTimelineData(){
      let timelineString = localStorage.getItem('timeline_data');
      if (timelineString) {
        try {
          timelineJson = JSON.parse(timelineString);
          buildTimeline()
        } catch (error) {
          console.error('Error parsing stored data:', error);
        }
      }
    }


    // -------------------
    // Bluetooth
    let devices = [];

    function connect(deviceName) {
      let existingDevice = devices.find(device => device.name === deviceName);

      if (existingDevice) {
        console.log('Selecting a new Bluetooth device for "' + deviceName + '"...');
        return requestBluetoothDevice(deviceName).then(device => {
          existingDevice.device = device;
          return connectDeviceAndCacheCharacteristic(device).then(characteristic =>
            startNotifications(deviceName, characteristic)
          );
        });
      }

      return requestBluetoothDevice(deviceName).then(device => {
        devices.push({ name: deviceName, device: device });
        return connectDeviceAndCacheCharacteristic(device).then(characteristic =>
          startNotifications(deviceName, characteristic)
        );
      });
    }


    function requestBluetoothDevice(deviceName) {
      console.log('Requesting bluetooth device...');

      return navigator.bluetooth
        .requestDevice({
          filters: [{ services: [0xFFE0] }],
        })
        .then(device => {
          console.log('"' + device.name + '" bluetooth device selected');
          deviceCache = device;

          // Added line
          deviceCache.addEventListener('gattserverdisconnected', handleDisconnection.bind(null, deviceName));

          return deviceCache;
        });
    }

    function handleDisconnection(deviceName, event) {
      let device = event.target;

      console.log(
        '"' + device.name + '" bluetooth device disconnected, trying to reconnect...'
      );

      changeModuleConnectionState(deviceName, "disconnected")

      connectDeviceAndCacheCharacteristic(device)
        .then(characteristic => startNotifications(characteristic))
        .catch(error => console.log(error));
    }

    let characteristicCache = null;

    function connectDeviceAndCacheCharacteristic(device) {
      let deviceEntry = devices.find(dev => dev.device === device);

      if (deviceEntry && deviceEntry.characteristic) {
        return Promise.resolve(deviceEntry.characteristic);
      }

      console.log('Connecting to GATT server...');

      return device.gatt
        .connect()
        .then(server => {
          console.log('GATT server connected, getting service...');
          return server.getPrimaryService(0xFFE0);
        })
        .then(service => {
          console.log('Service found, getting characteristic...');
          return service.getCharacteristic(0xFFE1);
        })
        .then(characteristic => {
          console.log('Characteristic found');
          characteristicCache = characteristic;
          deviceEntry.characteristic = characteristic;
          return characteristicCache;
        });
    }

    function startNotifications(deviceName, characteristic) {
      let device = devices.find(dev => dev.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      console.log('Starting notifications for device "' + deviceName + '"...');

      return characteristic
        .startNotifications()
        .then(() => {
          console.log('Notifications started for device "' + deviceName + '"');
          characteristic.addEventListener(
            'characteristicvaluechanged',
            handleCharacteristicValueChanged.bind(null, deviceName)
          );
          changeModuleConnectionState(deviceName, "connected")
        })
        .catch(error => console.log(error));
    }

    function disconnect(deviceName) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      let characteristic = device.characteristic;
      if (!characteristic) {
        console.log('No characteristic found for device "' + deviceName + '".');
        return;
      }

      if (characteristic.gatt.connected) {
        characteristic.gatt.disconnect();
        console.log('"' + deviceName + '" bluetooth device disconnected');
      } else {
        console.log('"' + deviceName + '" bluetooth device is already disconnected');
      }

      // Remove the characteristic reference
      device.characteristic = null;
    }

    function handleCharacteristicValueChanged(deviceName, event) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }
      let value = new TextDecoder().decode(event.target.value);
      let screen = screens.find(screen => screen.display === deviceName) || null;

      console.log("received data")

      if (!screen) {
        console.log("Screen with display name '" + deviceName + "' not found.");
        return;
      }


      for (let c of value) {
        if (c === '\n') {
          let data = screen['readBuffer'].trim();
          screen['readBuffer'] = '';
          console.log(data)

          if (data) {
            console.log(`receive: ${data}`);
            writeToScreen(deviceName, data, screen);
          }
        }
        else {
          screen['readBuffer'] += c;
        }
      }
    }
    

    function blSend(deviceName, data) {
      let device = devices.find(device => device.name === deviceName);

      if (!device) {
        console.log('Device with name "' + deviceName + '" not found.');
        return;
      }

      data = String(data);

      if (!data || !device.characteristic) {
        console.log('No data or characteristic found for device "' + deviceName + '".');
        return;
      }

      data += '\n';

      console.log(`send: ${data}`);

      if (data.length > 20) {
        let chunks = data.match(/(.|[\r\n]){1,20}/g);

        writeToCharacteristic(device.characteristic, chunks[0]);

        for (let i = 1; i < chunks.length; i++) {
          setTimeout(() => {
            writeToCharacteristic(device.characteristic, chunks[i]);
          }, i * 100);
        }
      }
      else {
        writeToCharacteristic(device.characteristic, data);
      }

    }

    function writeToCharacteristic(characteristic, data) {
      characteristic.writeValue(new TextEncoder().encode(data));
    }

    // ------------------------
    // Charts



    function resetData(data){
        // Alternatively, you can also reset the data at certain intervals to prevent creating a huge series 
        data = data.slice(data.length - 10, data.length);
    }

    function createChart(screen, format){

      let options = {
          series: [],
          chart: {
              id: 'realtime',
              height: 350,
              type: 'line',
              animations: {
              enabled: true,
              easing: 'linear',
              dynamicAnimation: {
                  speed: 1000
              }
              },
              toolbar: {
              show: false
              },
              zoom: {
              enabled: false
              }
          },
          dataLabels: {
              enabled: false
          },
          title: {
              text: screen.display,
              align: 'left'
          },
          markers: {
              size: 0
          },
          xaxis: {
              type: 'numeric',
              labels: {
                  show: false,
              }
          },
          yaxis: {
              max: 100
          },
          legend: {
              show: false
          },
      };

      let variables = format.split(/\s+/)
      for(variable of variables){
        let variableDataJson = {
          name: variable,
          data: screen.data[variable].slice()
        }
        options.series.push(variableDataJson)
      }

      let chart = new ApexCharts(document.querySelector(`#chart${screen.id}`), options);
      chart.render();

      return chart
    }

    function disableChart(screen){
      screen["disabled"] = true
    }

    function writeToScreen(deviceName, data_str, screen){
      if(screen["disabled"]){
        console.log("screen disabled")
        return
      }
      const format = screen.format
      const currentTime = new Date().getTime();

      let newSeries = []
      const variables = format.split(/\s+/)
      const data = data_str.split(/\s+/)
      console.log(data)
      console.log(screen.data)
      for(let i=0; i<data.length; i+=2){
        if(screen.data[data[i]][0]["y"] == 0){
          screen.data[data[i]].shift()
        }
        screen.data[data[i]].push({ x: currentTime, y: data[i+1] })
        newSeries.push(
          {
            name: data[i],
            data: screen.data[data[i]],
          }
        )
      }
      console.log(screen.data)
      console.log(newSeries)

      screen.chartInstance.updateSeries(newSeries);
    }




</script>

</html>

