
<div class="sm:col-span-2">
    <label for="variables-{{ functionCount }}" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
    <div class="mt-2">
        <input type="text" name="name-{{ functionCount }}" id="name-{{ functionCount }}" placeholder="Your name for this function" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 variables">
    </div>
</div>

<div class="sm:col-span-2">
    <label for="method-{{ functionCount }}" class="block text-sm font-medium leading-6 text-gray-900">Method (Read/Write)</label>
    <div class="mt-2">
        <select id="method-{{ functionCount }}" name="method-{{ functionCount }}" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 placeholder:text-sm focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <option>Read</option>
            <option>Write</option>
        </select>
    </div>
</div>

<div class="sm:col-span-2">
    <label for="variables-{{ functionCount }}" class="block text-sm font-medium leading-6 text-gray-900">Variables (comma separated, no spaces)</label>
    <div class="mt-2">
        <input type="text" name="variables-{{ functionCount }}" id="variables-{{ functionCount }}" placeholder="Variable1,Variable2,Variable3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 variables">
    </div>
</div>
